rock = '''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

paper = '''
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)
'''

scissors = '''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

User_input= int(input("WHAT DO YOU WANT TO CHOOSE ? 0 FOR ROCK,1 FOR PAPER OR "
                      "2 FOR SCISSORS\n" ))
if User_input==0:
    print("YOUR CHOICE IS ROCK",rock)
elif User_input==1:
    print("YOUR CHOICE IS PAPER",paper)
elif User_input==2:
    print("YOUR CHOICE IS SCISSORS",scissors)
else:
    print("WRONG INIPUT")
import random
COMPUTER = random.randint(0,2)

if COMPUTER==0:
    print("COMPUTER CHOICE IS ROCK :",rock)
elif COMPUTER ==1:
    print("COMPUTER CHOICE IS PAPER :",paper)
elif COMPUTER==2:
    print("COMPUTER CHOICE IS SCISSORS :",scissors)
else:
    print("INVALID PLEASE TRY AGAIN")

if User_input==0 and COMPUTER==2:
    print("Rock crushes scissors\n HURRAY YOU WIN :)")
elif User_input==2 and COMPUTER==0:
    print("SCISSOR CRUSHES BY ROCK!\n OOPS YOU LOSE :(")
elif User_input==0 and COMPUTER==1:
    print("ROCK COVERSS BY PAPER!\n OOPS YOU LOSE :(")
elif User_input==1 and COMPUTER==0:
    print("PAPER COVER ROCK\n HURRAY YOU WIN :)")
elif User_input==1 and COMPUTER==2:
    print("PAPER CUTS BY SCISSOR!\n OOPS YOU LOSE :(")
elif User_input== 2 and COMPUTER==1:
    print("SCISSORS CUTS PAPER\nHURRAY YOU WIN :)")
else :
    print("INVALID PLEASE TRY AGAIN")
